Repository front-end-by-rimantas/20-grupe-portfolio-neuron, pull requests merged in 2020-12, with the labels that each got.

#20 comments, css, js files
  css/components/achievements.css
  css/components/button.css
  css/components/clients.css
  css/components/contact.css
  css/components/creativity.css
  css/components/footer.css
  css/components/form.css
  css/components/hero.css
  css/components/intelligence.css
  css/components/posts.css
  css/components/projects.css
  css/components/services.css
  css/components/updates.css
  css/components/variables.css
  css/components/works.css
  css/home-page.css
  index.html
  js/components/achievements/Achievements.js
  js/components/blog/renderBlog.js
  js/components/clients/renderClients.js
  js/components/contact/renderContact.js
  js/components/creativity/renderCreativity.js
  js/components/menu/Menu.js
  js/components/projects/renderProjects.js
  js/components/services/renderServices.js
  js/components/socials/renderSocials.js
  js/components/works/renderWorks.js
  js/home-main.js
  package-lock.json
  package.json
Labels: Type: enhancement

#22 Homepage images and logos
  .DS_Store
  images/.DS_Store
  images/achievements/.DS_Store
  images/achievements/bg-shape.png
  images/blog/1.jpg
  images/blog/2.jpg
  images/blog/3.jpg
  images/chat/.DS_Store
  images/chat/chat.png
  images/clients/1.png
  images/clients/2.png
  images/clients/3.png
  images/clients/4.png
  images/clients/5.png
  images/clients/bg-clients.jpg
  images/contact/bg-contact.jpg
  images/favicon/.DS_Store
  images/favicon/fav.png
  images/footer/.DS_Store
  images/footer/bg-footer.jpg
  images/footer/footer-logo.png
  images/header/.DS_Store
  images/header/logo-white.png
  images/hero/.DS_Store
  images/hero/1.png
  images/hero/2.png
  images/hero/bg.jpg
  images/intelligence/.DS_Store
  images/intelligence/1.png
  images/loading/.DS_Store
  images/loading/load.png
  images/project/.DS_Store
  images/project/1.jpg
  images/project/2.jpg
  images/shop/.DS_Store
  images/shop/1.jpg
  images/shop/2.jpg
Labels: Images

#24 fontawesome added
  css/components/font-awesome.min.css
  css/home-page.css
  fonts/fontawesome/FontAwesome.otf
  fonts/fontawesome/fontawesome-webfont.eot
  fonts/fontawesome/fontawesome-webfont.svg
  fonts/fontawesome/fontawesome-webfont.ttf
  fonts/fontawesome/fontawesome-webfont.woff
  fonts/fontawesome/fontawesome-webfont.woff2
Labels: fonts

#26 font-family
  css/components/variables.css
  fonts/poppins/OFL.txt
  fonts/poppins/Poppins-Black.ttf
  fonts/poppins/Poppins-BlackItalic.ttf
  fonts/poppins/Poppins-Bold.ttf
  fonts/poppins/Poppins-BoldItalic.ttf
  fonts/poppins/Poppins-ExtraBold.ttf
  fonts/poppins/Poppins-ExtraBoldItalic.ttf
  fonts/poppins/Poppins-ExtraLight.ttf
  fonts/poppins/Poppins-ExtraLightItalic.ttf
  fonts/poppins/Poppins-Italic.ttf
  fonts/poppins/Poppins-Light.ttf
  fonts/poppins/Poppins-LightItalic.ttf
  fonts/poppins/Poppins-Medium.ttf
  fonts/poppins/Poppins-MediumItalic.ttf
  fonts/poppins/Poppins-Regular.ttf
  fonts/poppins/Poppins-SemiBold.ttf
  fonts/poppins/Poppins-SemiBoldItalic.ttf
  fonts/poppins/Poppins-Thin.ttf
  fonts/poppins/Poppins-ThinItalic.ttf
Labels: fonts
